//=================================================================
//
// Microsoft Windows
// Copyright (c) 1999 Microsoft Corporation. All rights reserved.
//
// Resource table for DVDPlay
// 
//=================================================================

#include "resource.h"

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "dvdplay placeholder Application"
#define VER_INTERNALNAME_STR        "dvdplay"
#define VER_ORIGINALFILENAME_STR    "dvdplay"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON    DISCARDABLE     "res\\dvdplay.ico"

