//=================================================================
//
// Microsoft Windows
// Copyright (c) 2009 Microsoft Corporation. All rights reserved.
//
// Resource table for Assistive Windows Ease of Access tools
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft On-Screen Keyboard Support Utilities"
#define VER_INTERNALNAME_STR        "OskSupport.dll"
#define VER_ORIGINALFILENAME_STR    "OskSupport.dll"

#include "common.ver"
