//=================================================================
//
// Microsoft Windows
// Copyright (c) 2003 Microsoft Corporation. All rights reserved.
//
// Resource table for comcat
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Component Category Manager Library"
#define VER_INTERNALNAME_STR        "comcat.dll"
#define VER_ORIGINALFILENAME_STR    "comcat.dll"

#include "common.ver"
