//=================================================================
//
// Microsoft Windows
// Copyright (c) 2005 Microsoft Corporation. All rights reserved.
//
// Resource table for sysdm stubs
//
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Advanced System Settings"
#define VER_INTERNALNAME_STR        "SystemPropertiesAdvanced"
#define VER_ORIGINALFILENAME_STR    "SystemPropertiesAdvanced.EXE"

#include "common.ver"

/////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	0 "Advanced System Settings"
END

/////////////////////////////////////////////////////////////////
//
// Icon
//

8001 ICON DISCARDABLE "sysdmadvanced.ico"
