//=================================================================
//
// Microsoft Windows
// Copyright (c) 2019 Microsoft Corporation. All rights reserved.
//
// Resource table for WU
// 
//=================================================================

#include <windows.h>

1 VERSIONINFO
 FILEVERSION 1401,2408,6011,0
 PRODUCTVERSION 1401,2408,6011,0
 FILEOS 0x40004
 FILETYPE 0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", "wuapihost\0"
            VALUE "FileVersion", "1401.2408.6011.0\0"
            VALUE "InternalName", "wuapihost\0"
            VALUE "LegalCopyright", "\xA9 Microsoft Corporation. All rights reserved.\0"
            VALUE "OriginalFilename", "wuapihost.exe\0"
            VALUE "ProductName", "Microsoft\xAE Windows\xAE Operating System\0"
            VALUE "ProductVersion", "1401.2408.6011.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409 0x04B0
    END
END
