//=================================================================
//
// Microsoft Windows
// Copyright (c) 2018 Microsoft Corporation. All rights reserved.
//
// Resource table for Recovery Agent Tasks
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Wallpaper Host Process"
#define VER_INTERNALNAME_STR        "WallpaperHost"
#define VER_ORIGINALFILENAME_STR    "WallpaperHost.EXE"

#include "common.ver"
