//=================================================================
//
// Microsoft Windows
// Copyright (c) 2021 Microsoft Corporation. All rights reserved.
//
// Resource table for Nlsdl
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Deprecated Nls Downlevel DLL"
#define VER_INTERNALNAME_STR        "Nlsdl"
#define VER_ORIGINALFILENAME_STR    "Nlsdl.dll"

#include "common.ver"
