//=================================================================
//
// Microsoft Windows
// Copyright (c) 2011 Microsoft Corporation. All rights reserved.
//
// Resource table for Trusted RT
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Windows Trusted Runtime Service Proxy Driver"
#define VER_INTERNALNAME_STR        "WindowsTrustedRTProxy.sys"
#define VER_ORIGINALFILENAME_STR    "WindowsTrustedRTProxy.sys"

#include "common.ver"
