//=================================================================
//
// Microsoft Windows
// Copyright (c) 2014 Microsoft Corporation. All rights reserved.
//
// Resource table
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "winlogon"
#define VER_INTERNALNAME_STR        "minlogontext"
#define VER_ORIGINALFILENAME_STR    "minlogontext.exe"

#include "common.ver"
