//=================================================================
//
// Microsoft Windows
// Copyright (c) 2014 Microsoft Corporation. All rights reserved.
//
// Resource table for Task Manager Launcher
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Task Manager Launcher"
#define VER_INTERNALNAME_STR        "LaunchTM.exe"
#define VER_ORIGINALFILENAME_STR    "LaunchTM.exe"

#include "common.ver"

/////////////////////////////////////////////////////////////////
//
// Icon
//

1001 ICON DISCARDABLE "launchtm.ico"
