//=================================================================
//
// Microsoft Windows
// Copyright (c) 2009 Microsoft Corporation. All rights reserved.
//
// Resource table for DPICPL
// 
//=================================================================

#include "resource.h"

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Display Control Panel"
#define VER_INTERNALNAME_STR        "DpiScaling"
#define VER_ORIGINALFILENAME_STR    "DPISCALING.EXE"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_MAIN ICON DISCARDABLE "dpicpl.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	IDS_TITLE           "DPI Scaling"
	IDS_DESCRIPTION     "Change font sizes."
	IDS_DISABLED        "Your system administrator has disabled launching of the DPI Control Panel."
END

