//=================================================================
//
// Microsoft Windows
// Copyright (c) 2008 Microsoft Corporation. All rights reserved.
//
// Resource table for wlanutil
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Wireless LAN 802.11 Utility DLL"
#define VER_INTERNALNAME_STR        "wlanutil.dll"
#define VER_ORIGINALFILENAME_STR    "wlanutil.dll"

#include "common.ver"
