//=================================================================
//
// Microsoft Windows
// Copyright (c) 2002 Microsoft Corporation. All rights reserved.
//
// Resource table for Dummy Tablet PC Component
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Tablet PC Component"
#define VER_INTERNALNAME_STR        "Dummy.exe"
#define VER_ORIGINALFILENAME_STR    "Dummy.exe"

#include "common.ver"
