//=================================================================
//
// Microsoft Windows
// Copyright (c) 2006 Microsoft Corporation. All rights reserved.
//
// Resource table for Microsoft Boot File Servicing Utility
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Boot File Servicing Utility"
#define VER_INTERNALNAME_STR        "bfsvc.exe"
#define VER_ORIGINALFILENAME_STR    "bfsvc.exe"

#include "common.ver"
