//=================================================================
//
// Microsoft Windows
// Copyright (c) 2016 Microsoft Corporation. All rights reserved.
//
// Resource table for WPP Tracing
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     """WppRecorderUM.DYNLINK"""
#define VER_INTERNALNAME_STR        """WppRecorderUM.DYNLINK"""
#define VER_ORIGINALFILENAME_STR    """WppRecorderUM.DYNLINK"""

#include "common.ver"

