//=================================================================
//
// Microsoft Windows
// Copyright (c) 2016 Microsoft Corporation. All rights reserved.
//
// Resource table for Firewall
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Defender Firewall Control Panel DLL Launching Stub"
#define VER_INTERNALNAME_STR        "firewall.cpl"
#define VER_ORIGINALFILENAME_STR    "firewall.cpl"

#include "common.ver"
