//=================================================================
//
// Microsoft Windows
// Copyright (c) 2016 Microsoft Corporation. All rights reserved.
//
// Resource table for Xbox Game Panel External Hook
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "GamePanelExternalHook.dll"
#define VER_INTERNALNAME_STR        "GamePanelExternalHook.dll"
#define VER_ORIGINALFILENAME_STR    "GamePanelExternalHook.dll"

#include "common.ver"
