//=================================================================
//
// Microsoft Windows
// Copyright (c) 2006 Microsoft Corporation. All rights reserved.
//
// Resource table for Image Resources
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Image Resource"
#define VER_INTERNALNAME_STR        "imageres"
#define VER_ORIGINALFILENAME_STR    "imageres.DLL"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Image
//

4800 IMAGE DISCARDABLE "accenttiles.png"
4801 IMAGE DISCARDABLE "select.png"
4802 IMAGE DISCARDABLE "accenttiles2.png"
4803 IMAGE DISCARDABLE "select2.png"
4804 IMAGE DISCARDABLE "accenttiles3.png"
4805 IMAGE DISCARDABLE "select3.png"
4806 IMAGE DISCARDABLE "accenttiles4.png"
4807 IMAGE DISCARDABLE "select4.png"
4808 IMAGE DISCARDABLE "accenttiles5.png"
4809 IMAGE DISCARDABLE "select5.png"
5049 IMAGE DISCARDABLE "srvlogon6.jpg"
5054 IMAGE DISCARDABLE "srvlogon3portrait.jpg"

/////////////////////////////////////////////////////////////////////////////
//
// PNG
//

5021 PNG DISCARDABLE "loading1.png"
5022 PNG DISCARDABLE "loading2.png"
5023 PNG DISCARDABLE "loading3.png"
5024 PNG DISCARDABLE "loading4.png"
5290 PNG DISCARDABLE "user1.png"
5291 PNG DISCARDABLE "user2.png"
5292 PNG DISCARDABLE "user3.png"
5293 PNG DISCARDABLE "user4.png"
5410 PNG DISCARDABLE "music.png"

/////////////////////////////////////////////////////////////////////////////
//
// Sound
//

5080 WAVE DISCARDABLE "xpstartu.wav"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

5000 BITMAP DISCARDABLE "bmpani1.bmp"
5001 BITMAP DISCARDABLE "bmpani2.bmp"
5002 BITMAP DISCARDABLE "bmpani3.bmp"
5003 BITMAP DISCARDABLE "bmpani4.bmp"
5004 BITMAP DISCARDABLE "bmpani5.bmp"
5010 BITMAP DISCARDABLE "anipor1.bmp"
5011 BITMAP DISCARDABLE "anipor2.bmp"
5012 BITMAP DISCARDABLE "anipor3.bmp"
5013 BITMAP DISCARDABLE "anipor4.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

"BLANK0" ICON DISCARDABLE "blank0.ico"
"BLANK1" ICON DISCARDABLE "blank1.ico"
2 ICON DISCARDABLE "file.ico"
3 ICON DISCARDABLE "folder.ico"
4 ICON DISCARDABLE "folder2.ico"
5 ICON DISCARDABLE "fsthlffldr.ico"
6 ICON DISCARDABLE "sndhlffldr.ico"
8 ICON DISCARDABLE "searchresults.ico"
9 ICON DISCARDABLE "premiumfldr.ico"
10 ICON DISCARDABLE "premiumfldr2.ico"
14 ICON DISCARDABLE "games.ico"
15 ICON DISCARDABLE "application.ico"
17 ICON DISCARDABLE "thumbborder.ico"
18 ICON DISCARDABLE "searchfldr.ico"
19 ICON DISCARDABLE "txtfile.ico"
20 ICON DISCARDABLE "mailmsg.ico"
21 ICON DISCARDABLE "picture.ico"
22 ICON DISCARDABLE "music.ico"
23 ICON DISCARDABLE "video.ico"
24 ICON DISCARDABLE "fileassoc.ico"
25 ICON DISCARDABLE "netwrkplac.ico"
26 ICON DISCARDABLE "devprnt.ico"
27 ICON DISCARDABLE "control.ico"
28 ICON DISCARDABLE "floppy.ico"
29 ICON DISCARDABLE "oldfloppy.ico"
30 ICON DISCARDABLE "cddvd.ico"
31 ICON DISCARDABLE "netdrivedisconnect.ico"
32 ICON DISCARDABLE "drive.ico"
33 ICON DISCARDABLE "netdrive.ico"
34 ICON DISCARDABLE "memory.ico"
35 ICON DISCARDABLE "remvstorage.ico"
36 ICON DISCARDABLE "winntdrive.ico"
37 ICON DISCARDABLE "dvd.ico"
38 ICON DISCARDABLE "dvdr.ico"
39 ICON DISCARDABLE "dvdram.ico"
40 ICON DISCARDABLE "dvdrom.ico"
41 ICON DISCARDABLE "dvdrw.ico"
42 ICON DISCARDABLE "zipdisk.ico"
43 ICON DISCARDABLE "tapedisk.ico"
44 ICON DISCARDABLE "dvdcntrllr.ico"
45 ICON DISCARDABLE "onlineprint.ico"
46 ICON DISCARDABLE "videocamera.ico"
47 ICON DISCARDABLE "cellphone.ico"
48 ICON DISCARDABLE "prntdrvinstall.ico"
49 ICON DISCARDABLE "prntrecog.ico"
50 ICON DISCARDABLE "netprintrecog.ico"
51 ICON DISCARDABLE "printer.ico"
52 ICON DISCARDABLE "printerdriver.ico"
53 ICON DISCARDABLE "networkprinter.ico"
54 ICON DISCARDABLE "fulltrash.ico"
55 ICON DISCARDABLE "emptytrash.ico"
56 ICON DISCARDABLE "dvd2.ico"
57 ICON DISCARDABLE "stillcamera.ico"
58 ICON DISCARDABLE "cashreg.ico"
59 ICON DISCARDABLE "lock.ico"
60 ICON DISCARDABLE "sdcard.ico"
61 ICON DISCARDABLE "optical.ico"
62 ICON DISCARDABLE "cdr.ico"
63 ICON DISCARDABLE "cdrom.ico"
64 ICON DISCARDABLE "cdrw.ico"
65 ICON DISCARDABLE "cardpassport.ico"
66 ICON DISCARDABLE "musicplayer.ico"
67 ICON DISCARDABLE "dllfile.ico"
68 ICON DISCARDABLE "batchscript.ico"
69 ICON DISCARDABLE "configfile.ico"
70 ICON DISCARDABLE "bitmapimage.ico"
71 ICON DISCARDABLE "gifpicture.ico"
72 ICON DISCARDABLE "jpgpngpicture.ico"
73 ICON DISCARDABLE "sharednetwrkfldr.ico"
74 ICON DISCARDABLE "opennetfldr.ico"
75 ICON DISCARDABLE "unknowndrive.ico"
76 ICON DISCARDABLE "fax.ico"
77 ICON DISCARDABLE "fontsfldr.ico"
78 ICON DISCARDABLE "uac.ico"
79 ICON DISCARDABLE "people.ico"
80 ICON DISCARDABLE "taskbrstrtsettings.ico"
81 ICON DISCARDABLE "information.ico"
82 ICON DISCARDABLE "key.ico"
83 ICON DISCARDABLE "jpeg.ico"
84 ICON DISCARDABLE "exclamation.ico"
85 ICON DISCARDABLE "musiccd.ico"
86 ICON DISCARDABLE "easeofaccess.ico"
87 ICON DISCARDABLE "addremoveprg.ico"
88 ICON DISCARDABLE "useraccounts.ico"
89 ICON DISCARDABLE "deleteitem.ico"
90 ICON DISCARDABLE "richdoc.ico"
91 ICON DISCARDABLE "cddvdcnt.ico"
92 ICON DISCARDABLE "secdigmem.ico"
93 ICON DISCARDABLE "smartphone.ico"
94 ICON DISCARDABLE "rename.ico"
95 ICON DISCARDABLE "scanner.ico"
96 ICON DISCARDABLE "sdcard2.ico"
97 ICON DISCARDABLE "semiunknown.ico"
98 ICON DISCARDABLE "error.ico"
99 ICON DISCARDABLE "question.ico"
100 ICON DISCARDABLE "runapp.ico"
101 ICON DISCARDABLE "standby.ico"
102 ICON DISCARDABLE "txtdoc.ico"
103 ICON DISCARDABLE "projectionscreen.ico"
104 ICON DISCARDABLE "securityconcern.ico"
105 ICON DISCARDABLE "securitydanger.ico"
106 ICON DISCARDABLE "securitysafe.ico"
107 ICON DISCARDABLE "securitywarning.ico"
108 ICON DISCARDABLE "mymusic.ico"
109 ICON DISCARDABLE "mycomputer.ico"
110 ICON DISCARDABLE "desktop.ico"
111 ICON DISCARDABLE "defrag.ico"
112 ICON DISCARDABLE "mydocs.ico"
113 ICON DISCARDABLE "mypics.ico"
114 ICON DISCARDABLE "admintools.ico"
115 ICON DISCARDABLE "favorites.ico"
116 ICON DISCARDABLE "defaultprog.ico"
117 ICON DISCARDABLE "recentitems.ico"
119 ICON DISCARDABLE "blank119.ico"
120 ICON DISCARDABLE "networksharing.ico"
121 ICON DISCARDABLE "blank121.ico"
122 ICON DISCARDABLE "bmp2.ico"
123 ICON DISCARDABLE "mycontacts.ico"
124 ICON DISCARDABLE "acapitalfont.ico"
125 ICON DISCARDABLE "certifiedtruetype.ico"
126 ICON DISCARDABLE "certifiedtc.ico"
127 ICON DISCARDABLE "certifiedfont.ico"
128 ICON DISCARDABLE "asmallfont.ico"
129 ICON DISCARDABLE "fontsfldr2.ico"
130 ICON DISCARDABLE "businessman.ico"
131 ICON DISCARDABLE "musicfile.ico"
132 ICON DISCARDABLE "imagefile.ico"
133 ICON DISCARDABLE "videofile.ico"
134 ICON DISCARDABLE "audiovideo.ico"
135 ICON DISCARDABLE "dvdmusic.ico"
136 ICON DISCARDABLE "dvdvideo.ico"
137 ICON DISCARDABLE "cdmusic.ico"
138 ICON DISCARDABLE "dvdvid.ico"
139 ICON DISCARDABLE "hddvd.ico"
140 ICON DISCARDABLE "bd.ico"
141 ICON DISCARDABLE "vcd.ico"
142 ICON DISCARDABLE "svcd.ico"
143 ICON DISCARDABLE "shardfldr.ico"
144 ICON DISCARDABLE "timeandregion.ico"
145 ICON DISCARDABLE "magnifier.ico"
146 ICON DISCARDABLE "unknwncd.ico"
147 ICON DISCARDABLE "migration.ico"
148 ICON DISCARDABLE "items.ico"
149 ICON DISCARDABLE "pcproperties.ico"
150 ICON DISCARDABLE "performance.ico"
151 ICON DISCARDABLE "personalization.ico"
152 ICON DISCARDABLE "networkcon.ico"
155 ICON DISCARDABLE "cdlaser.ico"
157 ICON DISCARDABLE "verified.ico"
158 ICON DISCARDABLE "truetype.ico"
159 ICON DISCARDABLE "trueclear.ico"
160 ICON DISCARDABLE "onetype.ico"
161 ICON DISCARDABLE "addorremoveprograms.ico"
162 ICON DISCARDABLE "filledfolder.ico"
163 ICON DISCARDABLE "shortcut.ico"
164 ICON DISCARDABLE "shared.ico"
165 ICON DISCARDABLE "attributes.ico"
166 ICON DISCARDABLE "folderoptions.ico"
167 ICON DISCARDABLE "zipdisknotfound.ico"
168 ICON DISCARDABLE "blender.ico"
169 ICON DISCARDABLE "down.ico"
170 ICON DISCARDABLE "delete.ico"
171 ICON DISCARDABLE "connectto.ico"
172 ICON DISCARDABLE "dvdplusr.ico"
173 ICON DISCARDABLE "dvdplusrw.ico"
174 ICON DISCARDABLE "zipfile.ico"
175 ICON DISCARDABLE "compressedfolder.ico"
176 ICON DISCARDABLE "vol.ico"
177 ICON DISCARDABLE "search.ico"
178 ICON DISCARDABLE "mycontactsfldr.ico"
179 ICON DISCARDABLE "networkconnect.ico"
180 ICON DISCARDABLE "writemediatocd.ico"
181 ICON DISCARDABLE "contacts3.ico"
182 ICON DISCARDABLE "keyboard.ico"
183 ICON DISCARDABLE "desktopfldr.ico"
184 ICON DISCARDABLE "mydownloads.ico"
185 ICON DISCARDABLE "mylinks.ico"
186 ICON DISCARDABLE "mysavedgames.ico"
189 ICON DISCARDABLE "myvideos.ico"
190 ICON DISCARDABLE "premiumfolder.ico"
191 ICON DISCARDABLE "thumbnailshadow.ico"
192 ICON DISCARDABLE "thumbnailplaceholder.ico"
193 ICON DISCARDABLE "videooutline.ico"
194 ICON DISCARDABLE "shortvideooutline.ico"
195 ICON DISCARDABLE "systemandsecurity.ico"
196 ICON DISCARDABLE "hardwareandsound.ico"
197 ICON DISCARDABLE "appearanceandthemes.ico"
198 ICON DISCARDABLE "3dobjects.ico"
1001 ICON DISCARDABLE "library.ico"
1002 ICON DISCARDABLE "documentslibrary.ico"
1003 ICON DISCARDABLE "pictureslibrary.ico"
1004 ICON DISCARDABLE "musiclibrary.ico"
1005 ICON DISCARDABLE "videoslibrary.ico"
1008 ICON DISCARDABLE "recordedtvlibrary.ico"
1010 ICON DISCARDABLE "sharedwithusers.ico"
1013 ICON DISCARDABLE "homegroup.ico"
1014 ICON DISCARDABLE "windowslibraries.ico"
1015 ICON DISCARDABLE "shade.ico"
1017 ICON DISCARDABLE "twoshades.ico"
1018 ICON DISCARDABLE "threeshades.ico"
1020 ICON DISCARDABLE "myfavorites.ico"
1021 ICON DISCARDABLE "troubleshooting.ico"
1022 ICON DISCARDABLE "systemrestore.ico"
1023 ICON DISCARDABLE "explorer.ico"
1024 ICON DISCARDABLE "star.ico"
1025 ICON DISCARDABLE "mysavedsearches.ico"
1026 ICON DISCARDABLE "musicthumbnail.ico"
1027 ICON DISCARDABLE "unavailable.ico"
1028 ICON DISCARDABLE "windowshield.ico"
1029 ICON DISCARDABLE "users.ico"
1030 ICON DISCARDABLE "bitlockerunlocked.ico"
1031 ICON DISCARDABLE "bitlockerlocked.ico"
1032 ICON DISCARDABLE "bitlockerproblem.ico"
1033 ICON DISCARDABLE "systemdriveunlocked.ico"
1034 ICON DISCARDABLE "systemdrivelockproblem.ico"
1035 ICON DISCARDABLE "removabledriveunlocked.ico"
1036 ICON DISCARDABLE "removabledrivelocked.ico"
1037 ICON DISCARDABLE "removabledrivelockingproblem.ico"
1040 ICON DISCARDABLE "myonedrive.ico"
1041 ICON DISCARDABLE "warninghint.ico"
1042 ICON DISCARDABLE "syncing.ico"
1043 ICON DISCARDABLE "onedrivecloud.ico"
1301 ICON DISCARDABLE "blank3.ico"
1302 ICON DISCARDABLE "blank4.ico"
1303 ICON DISCARDABLE "blank5.ico"
1304 ICON DISCARDABLE "dataprotection.ico"
1305 ICON DISCARDABLE "compressed.ico"
1306 ICON DISCARDABLE "briefcase.ico"
1400 ICON DISCARDABLE "syncsuccessful.ico"
1401 ICON DISCARDABLE "syncrefresh.ico"
1402 ICON DISCARDABLE "syncfailed.ico"
1403 ICON DISCARDABLE "syncwarning.ico"
1404 ICON DISCARDABLE "onthecloud.ico"
1405 ICON DISCARDABLE "synced.ico"
5100 ICON DISCARDABLE "unpinfromtaskbar.ico"
5101 ICON DISCARDABLE "pintotaskbar.ico"
5102 ICON DISCARDABLE "close.ico"
5201 ICON DISCARDABLE "playbutton.ico"
5203 ICON DISCARDABLE "friends.ico"
5205 ICON DISCARDABLE "cdfile.ico"
5206 ICON DISCARDABLE "tiles.ico"
5210 ICON DISCARDABLE "desktopmockup.ico"
5301 ICON DISCARDABLE "pasteshortcut.ico"
5302 ICON DISCARDABLE "vncpath.ico"
5303 ICON DISCARDABLE "dload.ico"
5304 ICON DISCARDABLE "doc.ico"
5305 ICON DISCARDABLE "emptyrecyclebin.ico"
5306 ICON DISCARDABLE "write.ico"
5307 ICON DISCARDABLE "personallegalid.ico"
5308 ICON DISCARDABLE "selectall.ico"
5309 ICON DISCARDABLE "clearselection.ico"
5310 ICON DISCARDABLE "invertselection.ico"
5311 ICON DISCARDABLE "redo.ico"
5312 ICON DISCARDABLE "cozyorcompact.ico"
5313 ICON DISCARDABLE "selected.ico"
5314 ICON DISCARDABLE "scrappeddocument.ico"
5315 ICON DISCARDABLE "undo.ico"
5316 ICON DISCARDABLE "infoonweb.ico"
5318 ICON DISCARDABLE "clearrecentitemslist.ico"
5319 ICON DISCARDABLE "clearexplorerhistory.ico"
5320 ICON DISCARDABLE "ntdeletefile.ico"
5321 ICON DISCARDABLE "explorerwindow.ico"
5322 ICON DISCARDABLE "twoexplorerwindows.ico"
5323 ICON DISCARDABLE "cmd.ico"
5324 ICON DISCARDABLE "cmdasadmin.ico"
5325 ICON DISCARDABLE "fileexplorer.ico"
5326 ICON DISCARDABLE "driveasfolder.ico"
5327 ICON DISCARDABLE "zipfldrselection.ico"
5328 ICON DISCARDABLE "eject.ico"
5329 ICON DISCARDABLE "stoprecordingandburningtocd.ico"
5330 ICON DISCARDABLE "replaceharddrive.ico"
5331 ICON DISCARDABLE "cddrive.ico"
5332 ICON DISCARDABLE "searchinthatplace.ico"
5333 ICON DISCARDABLE "scheduletoanotherday.ico"
5334 ICON DISCARDABLE "videospicturesandfiles.ico"
5335 ICON DISCARDABLE "fileprogress.ico"
5336 ICON DISCARDABLE "filelabel.ico"
5337 ICON DISCARDABLE "deldoc.ico"
5338 ICON DISCARDABLE "uploadfile.ico"
5339 ICON DISCARDABLE "uploadfldr.ico"
5340 ICON DISCARDABLE "uploadlisting.ico"
5341 ICON DISCARDABLE "playitem.ico"
5342 ICON DISCARDABLE "playselecteditems.ico"
5343 ICON DISCARDABLE "wmpplaylist.ico"
5344 ICON DISCARDABLE "rotatephoto.ico"
5345 ICON DISCARDABLE "rotatephotoinverse.ico"
5346 ICON DISCARDABLE "desktopbackground.ico"
5347 ICON DISCARDABLE "projectorscreen.ico"
5348 ICON DISCARDABLE "sharefile.ico"
5349 ICON DISCARDABLE "shareselection.ico"
5350 ICON DISCARDABLE "decide.ico"
5351 ICON DISCARDABLE "computeradmin.ico"
5352 ICON DISCARDABLE "apppackage.ico"
5353 ICON DISCARDABLE "filehistory.ico"
5354 ICON DISCARDABLE "pinitemtotaskbar.ico"
5355 ICON DISCARDABLE "foldersynced.ico"
5356 ICON DISCARDABLE "userdatasynced.ico"
5357 ICON DISCARDABLE "movefromplacetoplace.ico"
5358 ICON DISCARDABLE "exportsettings.ico"
5359 ICON DISCARDABLE "navigationpane.ico"
5360 ICON DISCARDABLE "password.ico"
5361 ICON DISCARDABLE "tileview.ico"
5362 ICON DISCARDABLE "playwithmediaplayerexe.ico"
5363 ICON DISCARDABLE "myhardware.ico"
5364 ICON DISCARDABLE "rightattributes.ico"
5365 ICON DISCARDABLE "blank6.ico"
5366 ICON DISCARDABLE "sizebetweenelements.ico"
5367 ICON DISCARDABLE "filecheck.ico"
5368 ICON DISCARDABLE "clearfilehistory.ico"
5369 ICON DISCARDABLE "blank7.ico"
5370 ICON DISCARDABLE "imagesanddocuments.ico"
5371 ICON DISCARDABLE "projectphonetotv.ico"
5372 ICON DISCARDABLE "powershell.ico"
5373 ICON DISCARDABLE "powershellasadmin.ico"
5374 ICON DISCARDABLE "compmgmt.ico"
5375 ICON DISCARDABLE "remoteprinting.ico"
5376 ICON DISCARDABLE "pintolivetiles.ico"
5377 ICON DISCARDABLE "mediaservers.ico"
5378 ICON DISCARDABLE "formatmediaserver.ico"
5379 ICON DISCARDABLE "ejectnetworkdrive.ico"
5380 ICON DISCARDABLE "transfertouser.ico"
5381 ICON DISCARDABLE "drivesecurity.ico"
5382 ICON DISCARDABLE "folders.ico"
5383 ICON DISCARDABLE "removeallproperties.ico"
5402 ICON DISCARDABLE "rotatescreen.ico"
5403 ICON DISCARDABLE "lockscreen.ico"
5404 ICON DISCARDABLE "rotatescreenlight.ico"
5405 ICON DISCARDABLE "lockscreenlight.ico"
5406 ICON DISCARDABLE "airplanemode.ico"
5407 ICON DISCARDABLE "wlan.ico"
5408 ICON DISCARDABLE "airplanemodelight.ico"
5409 ICON DISCARDABLE "wlanlight.ico"
5411 ICON DISCARDABLE "brightness.ico"
5412 ICON DISCARDABLE "brightnesslight.ico"
6400 ICON DISCARDABLE "phonecenter.ico"
8201 ICON DISCARDABLE "spotlightshortcut.ico"
8203 ICON DISCARDABLE "phonelight.ico"
8300 ICON DISCARDABLE "msaccessdoc.ico"
8301 ICON DISCARDABLE "msexceldoc.ico"
8302 ICON DISCARDABLE "msworddoc.ico"
8303 ICON DISCARDABLE "doccompilation.ico"
8304 ICON DISCARDABLE "office.ico"
8305 ICON DISCARDABLE "mspublisherdoc.ico"
8306 ICON DISCARDABLE "publishercompilation.ico"
8307 ICON DISCARDABLE "onenotenote.ico"
8308 ICON DISCARDABLE "onenotenotebook.ico"
8309 ICON DISCARDABLE "powerpointpresentations.ico"
8310 ICON DISCARDABLE "powerpidoc.ico"
8311 ICON DISCARDABLE "showslideshow.ico"
8312 ICON DISCARDABLE "pptx.ico"
8313 ICON DISCARDABLE "publisherdoc.ico"
8314 ICON DISCARDABLE "scrap.ico"
8315 ICON DISCARDABLE "sidedoc.ico"
8316 ICON DISCARDABLE "sidemedia.ico"
8317 ICON DISCARDABLE "visiodoc.ico"
8318 ICON DISCARDABLE "visiolisting.ico"
8319 ICON DISCARDABLE "visioproject.ico"
8320 ICON DISCARDABLE "xlsx.ico"
8321 ICON DISCARDABLE "xlsxmultiple.ico"
8322 ICON DISCARDABLE "informational.ico"

