//=================================================================
//
// Microsoft Windows
// Copyright (c) 2014 Microsoft Corporation. All rights reserved.
//
// Resource table for MinWin Apps
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "mintasklist test app"
#define VER_INTERNALNAME_STR        "mintasklist"
#define VER_ORIGINALFILENAME_STR    "mintasklist.exe"

#include "common.ver"
