//=================================================================
//
// Microsoft Windows
// Copyright (c) 2000 Microsoft Corporation. All rights reserved.
//
// Resource table for RDP Logon Error Redirector
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Desktop Services Logon Error Redirector"
#define VER_INTERNALNAME_STR        "TSErrRedir.DLL"
#define VER_ORIGINALFILENAME_STR    "TSErrRedir.DLL"

#include "common.ver"
