//=================================================================
//
// Microsoft Windows
// Copyright (c) 2009 Microsoft Corporation. All rights reserved.
//
// Resource table for MSIdle
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "User Idle Monitor"
#define VER_INTERNALNAME_STR        "WebCheck Support DLL"
#define VER_ORIGINALFILENAME_STR    "MSIDLE.DLL"

#include "common.ver"

