//=================================================================
//
// Microsoft Windows
// Copyright (c) 2009 Microsoft Corporation. All rights reserved.
//
// Resource table for WIA
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WIA Tracing"
#define VER_INTERNALNAME_STR        "WIA Tracing"
#define VER_ORIGINALFILENAME_STR    "WIATRACE.DLL"

#include "common.ver"
