//=================================================================
//
// Microsoft Windows
// Copyright (c) 2009 Microsoft Corporation. All rights reserved.
//
// Resource table for NSI
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NSI User-mode interface DLL"
#define VER_INTERNALNAME_STR        "nsi.dll"
#define VER_ORIGINALFILENAME_STR    "nsi.dll"

#include "common.ver"
