//=================================================================
//
// Microsoft Windows
// Copyright (c) 2014 Microsoft Corporation. All rights reserved.
//
// Resource table
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     """InputServiceHost.PROGRAM"""
#define VER_INTERNALNAME_STR        """InputServiceHost.PROGRAM"""
#define VER_ORIGINALFILENAME_STR    """InputServiceHost.PROGRAM"""

#include "common.ver"
