//=================================================================
//
// Microsoft Windows
// Copyright (c) 2006 Microsoft Corporation. All rights reserved.
//
// TableTextService
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "TableTextService Migration DLL"
#define VER_INTERNALNAME_STR        "TableTextServiceMig"
#define VER_ORIGINALFILENAME_STR    "TableTextServiceMig.DLL"

#include "common.ver"
