//=================================================================
//
// Microsoft Windows
// Copyright (c) 2012 Microsoft Corporation. All rights reserved.
//
// compliance check rc table
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Upgrade ADMT v3 compliance check module"
#define VER_INTERNALNAME_STR        "admtv3check.dll"
#define VER_ORIGINALFILENAME_STR    "admtv3check.dll"

#include "common.ver"
