//---------------------------------------------------------------------------
// Version info.
//---------------------------------------------------------------------------
#define VER_USE_OTHER_MAJOR_MINOR_VER
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Windows Media Component Removal File."
#define VER_INTERNALNAME_STR
#define VER_ORIGINALFILENAME_STR        "dxmasf.dll"

#undef VER_PRODUCTVERSION
#undef VER_PRODUCTVERSION_STRING
#include <wmverp.h>
#include <common.ver>
