//=================================================================
//
// Microsoft Windows
// Copyright (c) 2012 Microsoft Corporation. All rights reserved.
//
// compliance check rc table
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Upgrade compliance check module for AD RMS"
#define VER_INTERNALNAME_STR        "rmsupg.dll"
#define VER_ORIGINALFILENAME_STR    "rmsupg.DLL"

#include "common.ver"
