//===================================================================
//
// Microsoft Windows
// Copyright (c) 2002 Microsoft Corporation. All rights reserved.
//
// Resource table for Microsoft Windows Code Name "Longhorn" Setup
// Wizard Framework Resources (Azure Stack HCI)
// 
//===================================================================

#include "..\\..\\w32uires\\common\\resource.h"

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Setup Wizard Framework Resources"
#define VER_INTERNALNAME_STR        "spwizres.dll"
#define VER_ORIGINALFILENAME_STR    "spwizres.dll"

#include "common.ver"

/////////////////////////////////////////////////////////////////
//
// Dialog
//

IDS_RESTARTINGCOMPUTER DIALOGEX 0, 0, 384, 30
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Nav Window"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "&Back", IDC_BACKBUTTON, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 12, 8, 40, 14 
   CONTROL "", IDC_LONGHORNICO, STATIC, SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 32, 14, 14, 14 , WS_EX_TRANSPARENT
   CONTROL "Install Azure Stack HCI", IDL_LONGHORNSETUP, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 14, 250, 8 
   CONTROL "Cancel", IDCANCEL, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED, 341, 8, 50, 12 
END

IDD_HELP DIALOGEX 0, 0, 181, 320
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Dialog"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "Azure Stack HCI Help", IDS_WELCOMETOSETUP, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 4, 135, 12 
   CONTROL "", IDC_HELPCONTENT, "{8856F961-340A-11D0-A96B-00C04FD705A2}", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 16, 171, 299 
   CONTROL "Cancel", IDCANCEL, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 148, 65532, 30, 13 
END

IDD_DEPLOYAUTORUN DIALOGEX 0, 0, 350, 227
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Install Azure Stack HCI"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "Windows Deployment Services", IDS_DOWNLOADINGUPDATES, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 10, 20, 180, 25 
   CONTROL "Azure Stack HCI", IDD_CANTGETUPDATES, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 125, 25, 1, 1 
   CONTROL "", IDC_LONGHORNLOGOAU, STATIC, SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 126, 26, 99, 64 , WS_EX_TRANSPARENT
   CONTROL "", IDL_LANGTOUSE, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 88, 126, 17 
   CONTROL "", IDD_CANCLDLG, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 131, 91, 180, 111 
   CONTROL "", IDL_TIMERLABEL, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 108, 126, 17 
   CONTROL "", IDC_DRIVERLIST, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 131, 110, 180, 92 
   CONTROL "", IDL_ADDITIONKBDLAY, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 126, 126, 17 
   CONTROL "", IDS_ESTIMATEDUPDATETIMEORSIZE, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 131, 129, 180, 73 
   CONTROL "", IDS_SEARCHINGFORUPDATES, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_GROUP, 5, 145, 126, 17 
   CONTROL "", IDS_ESTIMATEDTIMEINSEC, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 131, 148, 180, 54 
   CONTROL "Enter your language and other preferences and click ""Next"" to continue.", IDS_RESTARTINGSETUP, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 168, 330, 17 
   CONTROL "", IDC_NEXTBUTTON, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 302, 188, 43, 13 
   CONTROL "\xA9 Microsoft Corporation. All rights reserved.", IDL_TIMEOUTPUT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 196, 250, 14 
END

IDL_LANGTOUSE DIALOGEX 0, 0, 181, 320
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_DLGFRAME
CAPTION ""
FONT 9, "Segoe UI"
BEGIN
   CONTROL "Help", IDS_IMAGEINDEXSELECT, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 3, 2, 15, 13 
   CONTROL "Azure Stack HCI Help", IDS_WELCOMETOSETUP, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 4, 135, 12 
   CONTROL "", IDC_HELPCNTNT, "RichEdit20W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 15, 172, 301 
   CONTROL "Cancel", IDCANCEL, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 147, 65532, 30, 13 
END

IDD_TRANSFERREPORT DIALOGEX 0, 0, 291, 257
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Transfer Report"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "Title", IDS_WELCOMETOSETUP, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 4, 170, 8 
   CONTROL "&Save", IDC_SAVEREPORT, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 236, 50, 14 
   CONTROL "&Print", IDC_BUTTON5, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 236, 50, 14 
   CONTROL "&OK", IDC_SETUPOK, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 233, 236, 50, 14 
   CONTROL "", IDC_HELPCONTENT, "{8856F961-340A-11D0-A96B-00C04FD705A2}", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 15, 287, 217 
   CONTROL "Cancel", IDCANCEL, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 259, 65532, 30, 13 
END

IDS_ESTIMATEDTIMEINMIN DIALOGEX 0, 0, 350, 227
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Select Language"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "", IDC_LONGHORNLOGOAU, STATIC, SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 126, 26, 99, 64 , WS_EX_TRANSPARENT
   CONTROL "LangListing", IDS_KILOBYTESDOWNLOADED, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 95, 140, 60 
   CONTROL "\xA9 Microsoft Corporation. All rights reserved.", 2020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 209, 250, 14 
END

IDD_MSGBOX1 DIALOGEX 0, 0, 265, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Message Box"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "", IDS_WELCOMETOSETUP, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 280, 8 
   CONTROL "", IDC_LISTWIMINDEXES, STATIC, SS_BITMAP | WS_CHILD, 18, 24, 16, 16 
   CONTROL "", IDS_IMAGEDESCRIPTION, "RichEdit20W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 14, 15, 271, 67 
   CONTROL "", IDL_SKUDESC, "RichEdit20W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 38, 15, 246, 67 
   CONTROL "", IDD_SELECTSKU, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 138, 88, 43, 11 
   CONTROL "", IDS_SETUPTITLE, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 188, 88, 43, 11 
   CONTROL "", IDS_CANCELSETUP, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 238, 88, 43, 11 
   CONTROL "Cancel", IDCANCEL, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 258, 65532, 30, 13 
END

IDS_WELCOMETOSETUP DIALOGEX 0, 0, 265, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Message Box"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "", IDS_WELCOMETOSETUP, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 280, 8 
   CONTROL "", IDC_LISTWIMINDEXES, STATIC, SS_BITMAP | WS_CHILD, 18, 24, 16, 16 
   CONTROL "", IDS_IMAGEDESCRIPTION, "RichEdit50W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 14, 15, 271, 67 
   CONTROL "", IDL_SKUDESC, "RichEdit50W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 38, 15, 246, 67 
   CONTROL "", IDD_SELECTSKU, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 138, 88, 43, 11 
   CONTROL "", IDS_SETUPTITLE, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 188, 88, 43, 11 
   CONTROL "", IDS_CANCELSETUP, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 238, 88, 43, 11 
   CONTROL "Cancel", IDCANCEL, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 258, 65532, 30, 13 
END

/////////////////////////////////////////////////////////////////
//
// String table
//


STRINGTABLE DISCARDABLE
BEGIN
	IDS_BACK "Back"
	IDS_CANCEL "Cancel"
	IDS_NEXT "&Next"
	IDS_HELP "Help"
END

STRINGTABLE DISCARDABLE
BEGIN
	IDC_PRODUCTKEYTEXTBOX "HTML Files (*.htm)\x00*.htm\x00All Files (*.*)\x00*.*"
END

STRINGTABLE DISCARDABLE
BEGIN
	IDS_ESTIMATEDUPDATETIMEORSIZE "My language is %s"
	IDD_DYNAMICUPDATE "Failed to set the selected language as the UI language. Please select some other language."
	IDS_LONGHORNDYNAMICUPDATEGREETING "The selected language is not supported. Please select some other language."
	IDD_CHECKINGFORUPDATES "Azure Stack HCI Setup"
	IDS_LANGTOINST "Languag&e to install: "
END

STRINGTABLE DISCARDABLE
BEGIN
	IDL_SIZEOUTPUT "&Time and currency format: "
	IDC_RETRY "&Keyboard or input method: "
END

STRINGTABLE DISCARDABLE
BEGIN
	IDS_NOOTHERSKUSAVAILABLE "OK"
	IDS_ENTERUSERNAME "Cancel"
	IDS_CONNECTTOPC "&Yes"
	IDS_CANTFINISHLOGIN "&No"
	IDS_SPWIZRESRETRY "&Retry"
	IDS_RESTARTINGINSECONDS "&Browse"
	IDS_RESTARTINGINONESEC "No languages found in lang.ini"
	IDS_WDSDEPRECATION "Ke&yboard Type: "
	IDD_WDSDEPRECATION "&Continue"
	IDS_SPWIZRESNO "N&o"
END

STRINGTABLE DISCARDABLE
BEGIN
	IDS_SPWIZRESLOCALE "&Locale: "
END

STRINGTABLE DISCARDABLE
BEGIN
	IDS_KOREAN1KBD "Korean PC/AT 101-Key Compatible Keyboard (Type 1)"
	IDS_KOREAN2KBD "Korean PC/AT 101-Key Compatible Keyboard (Type 2)"
	IDS_KOREAN3KBD "Korean PC/AT 101-Key Compatible Keyboard (Type 3)"
	IDL_PROCEED "Korean Keyboard (103/106 Key)"
	IDS_ENUKBD "English Keyboard (101/102-Key)"
	IDS_CANTINSTALLDRIVER "Japanese Keyboard (106/109 Key)"
END

STRINGTABLE DISCARDABLE
BEGIN
	IDS_SETUPPROGRESS "Azure Stack HCI Setup Progress"
END

/////////////////////////////////////////////////////////////////
//
// 240
//

IDD_HELP 240 DISCARDABLE "..\\common\\2402000.bin"
