//=================================================================
//
// Microsoft Windows
// Copyright (c) 2006 Microsoft Corporation. All rights reserved.
//
// Resource table for Process Status Helper
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Process Status Helper"
#define VER_INTERNALNAME_STR        "PSAPI"
#define VER_ORIGINALFILENAME_STR    "PSAPI"

#include "common.ver"
