//=================================================================
//
// Microsoft Windows
// Copyright (c) 2010 Microsoft Corporation. All rights reserved.
//
// Resource table for Hardware Wizard Stub
// 
//=================================================================

#include "resource.h"

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Add Hardware Wizard"
#define VER_INTERNALNAME_STR        "HdwWiz.EXE"
#define VER_ORIGINALFILENAME_STR    "HdwWiz.EXE"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_HARDWARE ICON DISCARDABLE "hdwwiz.ico"


