//=================================================================
//
// Microsoft Windows
// Copyright (c) 2002 Microsoft Corporation. All rights reserved.
//
// Resource table for Microsoft Windows Code Name "Longhorn" Setup
// Wizard Framework Resources (Server)
// 
//=================================================================
#include "..\\common\\resource.h"

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Setup Wizard Framework Resources"
#define VER_INTERNALNAME_STR        "spwizres.dll"
#define VER_ORIGINALFILENAME_STR    "spwizres.dll"

#include "common.ver"

/////////////////////////////////////////////////////////////////
//
// PNG
//

IDB_INFODLG      IMAGE DISCARDABLE "..\\common\\infodlg.png"
IDB_HELP         IMAGE DISCARDABLE "..\\common\\help.png"
IDB_LHDLG        IMAGE DISCARDABLE "..\\common\\olddlg.png"
IDB_DIALOG       IMAGE DISCARDABLE "..\\common\\dialog.png"
IDB_WINNT        IMAGE DISCARDABLE "mswin.png"
IDB_WINNTAU      IMAGE DISCARDABLE "mswinautorun.png"
IDB_SELECT1      IMAGE DISCARDABLE "..\\common\\blank.png"
IDB_SELECT2      IMAGE DISCARDABLE "..\\common\\blank2.png"
IDB_SMHELP       IMAGE DISCARDABLE "..\\common\\smhelp.png"
IDB_WARNING      IMAGE DISCARDABLE "..\\common\\warning.png"
IDB_ERROR        IMAGE DISCARDABLE "..\\common\\err.png"
IDB_INFO         IMAGE DISCARDABLE "..\\common\\info.png"
IDB_QUST         IMAGE DISCARDABLE "..\\common\\question.png"
IDB_BACK         IMAGE DISCARDABLE "..\\common\\back.png"
IDB_BACKPRESS    IMAGE DISCARDABLE "..\\common\\backpress.png"
IDB_NOBACK       IMAGE DISCARDABLE "..\\common\\noback.png"
IDB_BACKHOVER    IMAGE DISCARDABLE "..\\common\\backhot.png"
IDB_CLOSE        IMAGE DISCARDABLE "..\\common\\close.png"
IDB_CLOSEPRESS   IMAGE DISCARDABLE "..\\common\\closepress.png"
IDB_NOCLOSE      IMAGE DISCARDABLE "..\\common\\noclose.png"
IDB_CLOSEHOV     IMAGE DISCARDABLE "..\\common\\closehot.png"
IDB_BUTTON       IMAGE DISCARDABLE "..\\common\\button.png"
IDB_BUTTONPRS    IMAGE DISCARDABLE "..\\common\\buttonpress.png"
IDB_BUTTONHL     IMAGE DISCARDABLE "..\\common\\buttonhlight.png"
IDB_NOBUTTON     IMAGE DISCARDABLE "..\\common\\buttondisabled.png"
IDB_BUTTONHOT    IMAGE DISCARDABLE "..\\common\\buttonhot.png"
IDB_AEROFRAME    IMAGE DISCARDABLE "..\\common\\frame.png"
IDB_BACKGROUND   IMAGE DISCARDABLE "background.png"
