//=================================================================
//
// Microsoft Windows
// Copyright (c) 2014 Microsoft Corporation. All rights reserved.
//
// Resource table
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "ApiSet Schema Extension DLL"
#define VER_INTERNALNAME_STR        "0905d5f5-b6e3-411f-8b33-8318f6d4ba1a_WCOS-Provisioning.dll"
#define VER_ORIGINALFILENAME_STR    "0905d5f5-b6e3-411f-8b33-8318f6d4ba1a_WCOS-Provisioning.dll"

#include "common.ver"
