//=================================================================
//
// Microsoft Windows
// Copyright (c) 2016 Microsoft Corporation. All rights reserved.
//
// Resource table for tapiperf
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\xAE Windows(TM) Telephony Performance Monitor"
#define VER_INTERNALNAME_STR        "Telephony Performance"
#define VER_ORIGINALFILENAME_STR    "TAPIPERF.DLL"

#include "common.ver"

