//=================================================================
//
// Microsoft Windows
// Copyright (c) 2014 Microsoft Corporation. All rights reserved.
//
// Resource table
// 
//=================================================================

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "ApiSet Schema Extension DLL"
#define VER_INTERNALNAME_STR        "c4d66f00-b6f0-4439-ac9b-c5ea13fe54d7_HyperV-ComputeCore.dll"
#define VER_ORIGINALFILENAME_STR    "c4d66f00-b6f0-4439-ac9b-c5ea13fe54d7_HyperV-ComputeCore.dll"

#include "common.ver"
